input[type="checkbox"]:disabled + .checkbox__homemade {
  color: $text-checkbox-disabled;
}

input[type="checkbox"]:checked + .checkbox-custom:before {
  opacity: 1;
}

input[type="checkbox"]:focus + .checkbox-custom:after {
  outline: 2px solid $basic-black;
}

input[type="checkbox"]:checked + .checkbox-custom:after {
  background-color: $basic-white;
}

input[type="checkbox"]:disabled + .checkbox-custom:after {
  border: 2px solid $disablet-checkbox;
}

.checkbox-custom {
  position: relative;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    width: 19px;
    height: 19px;

    @media (max-width: $media-mobile) {
      width: 17px;
      height: 17px;
    }
  }

  &:before {
    background-image: url("../../img/svg/mark.svg");
    background-position: 3px 0;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 1;
    transition: 0.4s;

    @media (max-width: $media-mobile) {
      left: -1px;
      top: 49%;
    }
  }

  &:after {
    border: 2px solid $brow;
    border-radius: 2px;
  }
}
