.footer {
  background-color: $footer-bg;
  color: $basic-white;
}

/*footer__inner-wrap*/
.footer__inner-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;

  padding: 100px 60px;

  @media (max-width: $media-tablet) {
    column-gap: 19px;
    padding: 80px 60px;
  }

  @media (max-width: $media-mobile) {
    padding: 70px 21px;
    gap: 25px;
  }
}

/*footer__navigation*/
.footer__navigation {
  max-width: 380px;
  width: 100%;

  @media (max-width: $media-tablet) {
    max-width: 203px;
  }

  @media (max-width: $media-mobile) {
    max-width: 100%;

    &:nth-child(2) {
      margin-bottom: 20px;
    }
  }
}

.footer__navigation__title {
  font-size: inherit;
  font-weight: inherit;
  color: $footer-title;

  padding-bottom: 23px;
  margin-bottom: 29px;

  position: relative;

  @media (max-width: $media-mobile) {
    font-size: 16px;
    line-height: 22px;

    padding-bottom: 21px;
    margin-bottom: 20px;
  }
}

.footer__navigation__title--connect {
  @media (max-width: $media-mobile) {
    padding-bottom: 24px;
    margin-bottom: 28px;
  }
}

.footer__navigation__title::before {
  content: "";
  display: block;
  background-color: $social-bg;

  width: 100%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__navigation__list {
  @media (max-width: $media-mobile) {
    column-count: 2;
  }
}

.footer__navigation__list-item {
  margin-bottom: 15px;

  @media (max-width: $media-mobile) {
    margin-bottom: 16px;
  }
}

.footer__navigation__list-link {
  transition: 0.4s;
}

.footer__navigation__list-link:hover {
  opacity: 0.5;
}

.footer__navigation__list-link:active {
  opacity: 0.2;
}

.footer__navigation__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: -3px;
}

.footer__navigation__wrap-join {
  padding: 0;
  margin: 0;
  border: none;
  flex-grow: 1;
}

.footer__navigation__email {
  background-color: $social-bg;
  padding: 11px 16px;
  width: 100%;
  color: $footer-email;
  border: none;

  &::-webkit-input-placeholder {
    color: $footer-email;
  }

  &::-moz-placeholder {
    color: $footer-email;
  }

  @media (max-width: $media-tablet) {
    max-width: 122px;
  }

  @media (max-width: $media-mobile) {
    max-width: 100%;
    padding: 11px 14px;
  }
}

/*footer-list*/
.footer-list {
  display: flex;
  margin: 25px 0 0 2px;
  gap: 10px;

  @media (max-width: $media-mobile) {
    gap: 13px;
    margin: 19px 0 0 -1px;
  }
}

.footer-list__link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: opacity 0.4s;
}

.footer-list__link:hover {
  opacity: 0.5;
}

.footer-list__link:active {
  opacity: 0.2;
}

.footer-list__link--facebook {
  background: url("../../img/svg/feecbook.svg") 50% 50% no-repeat, $social-bg;
}

.footer-list__link--twitter {
  background: url("../../img/svg/twitter.svg") 50% 50% no-repeat, $social-bg;
}

.footer-list__link--pinterest {
  background: url("../../img/svg/pinterest.svg") 50% 50% no-repeat, $social-bg;
}

.footer-list__link--instagram {
  background: url("../../img/svg/instagram.svg") 50% 50% no-repeat, $social-bg;
}


/*footer__info*/
.footer__info {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  position: relative;

  padding-top: 24px;
  margin-top: 13px;

  @media (max-width: $media-tablet) {
    margin-top: 25px;
    column-gap: 21px;
    row-gap: 15px;
  }

  @media (max-width: $media-mobile) {
    margin-top: 30px;
    padding-top: 25px;
  }
}

.footer__info::before {
  content: "";
  display: block;
  background-color: $social-bg;

  width: 100%;
  height: 1px;

  position: absolute;
  top: 0;
  left: 0;
}

/*footer__info__rating*/
.footer__info__rating,
.footer__info__copyright,
.footer__info__developer {
  max-width: 380px;
  width: 100%;

  @media (max-width: $media-tablet) {
    max-width: 313px;
  }

  @media (max-width: $media-mobile) {
    font-size: 16px;
    line-height: 22px;
  }
}

.footer__info__rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $media-tablet) {
    margin-right: 3px;
  }
}

.footer__info__wrap-stars {
  height: 13px;
  width: 95px;
  margin-left: 28px;
  order: 1;

  position: relative;

  background: url("../../img/svg/star.svg"),
  url("../../img/svg/star.svg") 20px,
  url("../../img/svg/star.svg") 40px,
  url("../../img/svg/star.svg") 60px,
  url("../../img/svg/star.svg") 80px;
  background-repeat: no-repeat;
}

.footer__info__rating__radio {
  appearance: none;

  display: block;
  height: 13px;

  position: absolute;
  top: 0;
  left: 0;

  cursor: pointer;
}

.footer__info__rating__radio:hover,
.footer__info__rating__radio:hover ~ .footer__info__rating__radio {
  background: url("../../img/svg/star.svg"),
  url("../../img/svg/star.svg") 20px,
  url("../../img/svg/star.svg") 40px,
  url("../../img/svg/star.svg") 60px,
  url("../../img/svg/star.svg") 80px,
  $footer-bg;
  background-repeat: no-repeat;
}

.footer__info__rating__radio:checked {
  background: url("../../img/svg/star-active.svg"),
  url("../../img/svg/star-active.svg") 20px,
  url("../../img/svg/star-active.svg") 40px,
  url("../../img/svg/star-active.svg") 60px,
  url("../../img/svg/star-active.svg") 80px,
  $footer-bg;
  background-repeat: no-repeat;
}

.footer__info__rating__radio:hover {
  background: url("../../img/svg/star-hover.svg"),
  url("../../img/svg/star-hover.svg") 20px,
  url("../../img/svg/star-hover.svg") 40px,
  url("../../img/svg/star-hover.svg") 60px,
  url("../../img/svg/star-hover.svg") 80px,
  $footer-bg;
  background-repeat: no-repeat;
}

.footer__info__rating__radio--1 {
  width: 15px;
  z-index: 5;
}

.footer__info__rating__radio--2 {
  width: 35px;
  z-index: 4;
}

.footer__info__rating__radio--3 {
  width: 55px;
  z-index: 3;
}

.footer__info__rating__radio--4 {
  width: 75px;
  z-index: 2;
}

.footer__info__rating__radio--5 {
  width: 95px;
  z-index: 1;
}

.footer__info__wrap-stars:hover ~ .footer__info__rating__text {
  color: $brow;
}

.footer__info__rating__text {
  transition: 0.4s;
}

.footer__info__developer__link {
  color: $web-design-text;
  transition: 0.4s;
}

.footer__info__developer__link:hover {
  color: $basic-white;
  text-decoration: underline;
}
