/**header**/
.header {
  display: flex;
  justify-content: space-between;

  width: 100%;

  color: $black-text;
  line-height: 19px;
  text-transform: uppercase;

  margin: 0 auto 37px;
  padding-top: 50px;

  @media (max-width: $media-menu) {
    position: relative;
    z-index: 2;

    background-color: $basic-white;

    margin: 0 auto 22px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: $basic-white;

      z-index: -1;
    }
  }

  @media (max-width: $media-mobile) {
    padding: 50px 30px 0;
    margin: 0 auto 3px;
  }
}

.header__link {
  align-self: start;
}

.header__link,
.header-nav__list-menu__link,
.header__search-submit,
.header__contact-link {
  transition: opacity 0.4s;
}

.header__link:hover,
.header-nav__list-menu__link:hover,
.header__search-submit:hover,
.header__contact-link:hover {
  opacity: 0.5;
}

.header__link,
.header-nav__list-menu__link,
.header__search-submit,
.header__contact-link {
  transition: opacity 0.4s;
}

.header__link:active,
.header-nav__list-menu__link:active,
.header__search-submit:active,
.header__contact-link:active {
  opacity: 0.2;
}

.header__wrap-nav {
  display: flex;

  @media (max-width: $media-tablet) {
    width: 53%;
    justify-content: space-between;
  }
}

.header__logo {
  @media (max-width: $media-menu) {
    width: 62px;
    height: 32px;
  }

  @media (max-width: $media-mobile) {
    width: 42px;
    height: 22px;
  }
}

.header__button-nav {
  display: none;

  font-family: $open;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;

  position: absolute;
  top: 59%;
  left: 50%;

  transform: translateX(-50%);

  &:before {
    content: "Menu";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: transform 0.4s;
  }

  &:after {
    content: "";

    right: 50%;
    transform: translate(50%, -50%);

    transition: transform 0.4s;
  }

  @media (max-width: $media-menu) {
    display: block;

    width: 20px;
    height: 20px;
  }

  @media (max-width: $media-mobile) {
    left: 49.7%;
    top: 54%;
  }
}

.header__button-nav--active {
  &:after,
  &:before {
    content: "";

    font-size: 0;
    line-height: 0;

    width: 100%;
    height: 2px;
    background-color: $basic-black;

    position: absolute;
    top: 44%;
    left: 0;

    transition: transform 0.4s;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:before {
    transform: rotate(45deg);
  }
}

.header__button-nav--active + .header-nav {
  opacity: 1;

  top: 97px;
  left: 0;

  transition: top 0.4s, left 0.4s;

  @media (max-width: $media-menu) {
    height: 100vh;
    background-color: $document-disabled;
  }
}

.header-nav {
  display: flex;
  flex-wrap: wrap;

  margin-left: 60px;
  padding-bottom: 5px;

  @media (max-width: $media-menu) {
    opacity: 0;

    margin: 0;

    position: absolute;
    top: -157px;
    left: 0;

    transition: opacity 0.4s, top 0.4s, left 0.4s;

    width: 100%;

    z-index: -1;
  }
}

.header-nav__list-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 21px;

  @media (max-width: $media-menu) {
    flex-direction: column;
    gap: 20px;

    background-color: $basic-white;

    width: 100%;
    height: min-content;

    padding: 0 0 25px;
  }
}

.header-nav__list-menu--active {
  display: flex;
}

.header-nav__list-menu__item--disabled {
  display: none;

  font-weight: 700;
  font-size: 14px;

  @media (max-width: $media-menu) {
    display: block;
  }
}

.header-nav__list-menu__link {
  font-size: 14px;
}

/*.header__search*/
.header__wrap-search {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.header__form-search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  min-height: 40px;
}

.header__search {
  padding: 0;
  width: 0;
  height: 0;
  border: 0 solid $basic-black;
  border-radius: 10px;
  transition: 0.4s;
  transition-timing-function: ease-in;
}

.header__search:focus,
.header__form-search:hover > .header__search {
  width: 200px;
  height: 40px;
  border: 2px solid $basic-black;
  margin: -2px;
  padding: 10px;
}

.header__search-submit {
  width: 42px;
  height: 22px;
  background-image: url("../../img/svg/search.svg");
  background-position-x: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 10px 0;

  @media (max-width: $media-menu) {
    height: 19px;
    width: 20px;

    background-position: -1px -3px;

    padding: 0;
    margin-bottom: 5px;
  }

  @media (max-width: $media-mobile) {
    background-position: -1px 0px;
    background-size: 19px 19px;

    margin-bottom: 15px;
  }
}

.header__contact-link {
  font-weight: 700;
  margin-left: 14px;
  font-size: 14px;

  @media (max-width: $media-menu) {
    display: none;
  }
}
