.page-title {
  margin: 19px auto 49px;

  @media (max-width: $media-tablet) {
    margin: 35px auto 30px;
  }

  @media (max-width: $media-mobile) {
    margin: 20px auto;
    padding-left: 20px;
  }
}

.page-title__title {
  margin-bottom: 15px;

  @media (max-width: $media-tablet) {
    margin-bottom: 9px;
  }

  @media (max-width: $media-mobile) {
    margin-bottom: 10px;
  }
}

.page-title__crumbs {
  font-family: $crimson;
  font-size: 20px;
  line-height: 26px;
  font-style: italic;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $media-mobile) {
    font-size: 16px;
    line-height: 21px;
  }
}

.page-title__crumbs__item {
  padding-right: 48px;
  position: relative;

  @media (max-width: $media-mobile) {
    padding-right: 35px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;

    width: 10px;
    height: 10px;

    border-right: 2px solid $black-text;
    border-top: 2px solid $black-text;

    transform: translateY(-50%) rotate(45deg);

    @media (max-width: $media-mobile) {
      right: 15px;

      width: 7px;
      height: 7px;
    }
  }
}

.page-title__crumbs__item--active {
  opacity: 0.5;

  &:before {
    display: none;
  }
}
