*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $basic-white;
  padding: 0;
  margin: 0;
  min-width: 1163px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $black-text;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: $basic-white;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
}

/*page-title*/
.page-title {
  margin: 57px auto 49px;
}

.page-title__title {
  margin-bottom: 14px;
}

.page-title__crumbs {
  font-family: 'Crimson Text', Arial, serif;
  font-size: 20px;
  line-height: 26px;
  font-style: italic;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-title__crumbs__item {
  padding-right: 48px;
  position: relative;
}

.page-title__crumbs__item--active {
  opacity: 0.5;
}

.page-title__crumbs__item:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;

  width: 10px;
  height: 10px;

  border-right: 2px solid $black-text;
  border-top: 2px solid $black-text;

  -webkit-transform: translateY(-50%) rotate(45deg);

  -ms-transform: translateY(-50%) rotate(45deg);

  transform: translateY(-50%) rotate(45deg);
}

.page-title__crumbs__item--active:before {
  display: none;
}

/*categories*/
.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.categories__item {
  position: relative;
  min-width: 280px;
  max-width: 280px;
  height: 270px;
  background-color: $brow;
}

.categories__link {
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);

  -ms-transform: translate(-50%, -50%);

  transform: translate(-50%, -50%);
}

.categories__link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: $basic-white;
  text-decoration-color: $basic-white;
}

.categories__subtitle {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  text-shadow: 0 0 40px $shadow-link;
  color: $basic-white;
  text-align: center;
}

/*feedback-form*/
.feedback-form {
  background-color: $light-grey;
  padding: 42px 40px;
  position: relative;
}

/*feedback-form__data*/
.feedback-form__data {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 600px;
  margin-bottom: 20px;
}

/*feedback-form__wrap-input*/
.feedback-form__wrap-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.feedback-form__wrap-input--email,
.feedback-form__wrap-input--phone {
  -ms-flex-preferred-size: calc(100% / 2 - 10px);
  flex-basis: calc(100% / 2 - 10px);
  margin-bottom: 2px;
}

.feedback-form__data__label {
  margin-bottom: 6px;
}

.feedback-form__data__input {
  border: 1px solid $border-input;
  padding: 16px;
}

.feedback-form__data__input:hover {
  border: 1px solid $brow;
}

.feedback-form__data__input:disabled {
  border: 1px solid $footer-email;
}

.feedback-form__data__input--textarea {
  min-height: 150px;
  resize: vertical;
}

/*feedback-form__personal-data*/
.feedback-form__personal-data {
  font-size: 14px;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 16px;
}

.feedback-form__personal-data__label {
  display: block;

  padding-left: 34px;
  margin-bottom: 20px;
}

/*slider__list*/
.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  padding-top: 59px;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 380px;
}

.slider__name {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;

  -webkit-box-ordinal-group: 2;

  -ms-flex-order: 1;

  order: 1;

  margin-bottom: 17px;
  text-transform: uppercase;
}

.slider__img {
  margin-bottom: 30px;
}

.slider__prise {
  font-weight: 700;
  margin-bottom: 25px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

/*slider__controls*/
.slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 49px 5px 63px;
}

.slider__controls__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 65px;
}

.slider__controls__arrow {
  width: 22px;
  height: 22px;

  border-top: 4px solid $black-text;
  border-right: 4px solid $black-text;
  opacity: 0.12;

  position: relative;
  top: 12px;
}

.slider__controls__arrow--left {
  -webkit-transform: translate(0, -50%) rotate(-135deg);
  -ms-transform: translate(0, -50%) rotate(-135deg);
  transform: translate(0, -50%) rotate(-135deg);
}

.slider__controls__arrow--right {
  -webkit-transform: translate(0, -50%) rotate(45deg);
  -ms-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg);
}

.slider__controls__arrow:hover {
  border-top: 4px solid $brow;
  border-right: 4px solid $brow;
  opacity: 1;
}

.slider__controls__arrow:active {
  border-top: 4px solid $black-text;
  border-right: 4px solid $black-text;
  opacity: 0.7;
}

.slider__controls__button {
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 20px;
  font-weight: 700;
}

.slider__controls__button:hover {
  color: $footer-title;
}

.slider__controls__button--active {
  color: $brow;
}
