<ul class="@@classUl categories">
  <li class="categories__item">
    <picture>
      <img class="categories__img" width="280" height="270" src="../../img/pullover.jpg"
           srcset="../../img/pullover@x2.jpg 2x" alt="Голубая кофта с рисунками">
    </picture>
    <a class="categories__link" href="#">
      <h3 class="categories__subtitle">Apparel kids</h3>
    </a>
  </li>

  <li class="categories__item">
    <picture>
      <img class="categories__img" width="280" height="270" src="../../img/sock.jpg"
           srcset="../../img/sock@x2.jpg 2x" alt="Носок цвета и формы оленя">
    </picture>
    <a class="categories__link" href="#">
      <h3 class="categories__subtitle">Holiday shop</h3>
    </a>
  </li>

  <li class="categories__item">
    <picture>
      <img class="categories__img" width="280" height="270" src="../../img/deer.jpg"
           srcset="../../img/deer@x2.jpg 2x" alt="Игрушечный олень из дерева">
    </picture>
    <a class="categories__link" href="./source/toys.html">
      <h3 class="categories__subtitle">Toys</h3>
    </a>
  </li>

  <li class="categories__item">
    <picture>
      <img class="categories__img" width="280" height="270" src="../../img/snowman.jpg"
           srcset="../../img/snowman@x2.jpg 2x" alt="Нарисованный человек-обезьяна на скейте">
    </picture>
    <a class="categories__link" href="#">
      <h3 class="categories__subtitle">Accessories</h3>
    </a>
  </li>

  <li class="categories__item">
    <picture>
      <img class="categories__img" width="280" height="270" src="../../img/flamingos.jpg"
           srcset="../../img/flamingos@x2.jpg 2x" alt="Надувной розовый фломинго">
    </picture>
    <a class="categories__link" href="#">
      <h3 class="categories__subtitle">Sale</h3>
    </a>
  </li>

  <li class="categories__item">
    <picture>
      <img class="categories__img" width="280" height="270" src="../../img/dress.jpg"
           srcset="../../img/dress@x2.jpg 2x" alt="Розовое платье с мордочками кроликов">
    </picture>
    <a class="categories__link" href="#">
      <h3 class="categories__subtitle">Apparel adults</h3>
    </a>
  </li>
</ul>
