<footer class="footer">
  <div class="footer__inner-wrap container">
    <section class="footer__navigation">
      <h2 class="footer__navigation__title">Navigation</h2>
      <ul class="footer__navigation__list">
        <li class="footer__navigation__list-item">
          <a href="#" class="footer__navigation__list-link">About Us</a>
        </li>

        <li class="footer__navigation__list-item">
          <a href="./pages/blog.html" class="footer__navigation__list-link">Blog</a>
        </li>

        <li class="footer__navigation__list-item">
          <a href="#" class="footer__navigation__list-link">Design Services</a>
        </li>

        <li class="footer__navigation__list-item">
          <a href="#" class="footer__navigation__list-link">Featured On</a>
        </li>

        <li class="footer__navigation__list-item">
          <a href="#" class="footer__navigation__list-link">2018 Holiday Catalog</a>
        </li>

        <li class="footer__navigation__list-item">
          <a href="#" class="footer__navigation__list-link">Shop By Designer</a>
        </li>

      </ul>
    </section>

    <section class="footer__navigation">
      <h2 class="footer__navigation__title">Customer Information</h2>
      <ul class="footer__navigation__list">
        <li class="footer__navigation__list-item">
          <a href="./pages/contact.html" class="footer__navigation__list-link">Contact Us</a>
        </li>

        <li class="footer__navigation__list-item">
          <a href="#" class="footer__navigation__list-link">Sale Exclusions</a>
        </li>

        <li class="footer__navigation__list-item">
          <a href="#" class="footer__navigation__list-link">Shipping & Returns</a>
        </li>

        <li class="footer__navigation__list-item">
          <a href="#" class="footer__navigation__list-link">Terms & Conditions</a>
        </li>

        <li class="footer__navigation__list-item">
          <a href="#" class="footer__navigation__list-link">Privacy Policy</a>
        </li>

        <li class="footer__navigation__list-item">
          <a href="#" class="footer__navigation__list-link">Search</a>
        </li>
      </ul>
    </section>

    <section class="footer__navigation">
      <h2 class="footer__navigation__title">Connect</h2>

      <form class="footer__navigation__form" action="https://echo.htmlacademy.ru/" name="join" method="post">
        <fieldset class="footer__navigation__wrap-join">
          <label class="visually-hidden" for="footer-email">Введите свой email чтобы присоединиться к
            нам</label>
          <input class="footer__navigation__email" id="footer-email" type="email" name="email" value="Email">
        </fieldset>

        <button class="footer__navigation__submit link" type="submit">Join</button>
      </form>

      <ul class="footer__navigation__list footer-list">
        <li class="footer-list__item">
          <a href="https://ru-ru.facebook.com/" class="footer-list__link footer-list__link--feecbook"></a>
        </li>

        <li class="footer-list__item">
          <a href="https://twitter.com/?lang=ru" class="footer-list__link footer-list__link--twitter"></a>
        </li>

        <li class="footer-list__item">
          <a href="https://ru.pinterest.com/" class="footer-list__link footer-list__link--pinterest"></a>
        </li>

        <li class="footer-list__item">
          <a href="https://www.instagram.com/" class="footer-list__link footer-list__link--instagram"></a>
        </li>
      </ul>
    </section>

    <div class="footer__info">
      <div class="footer__info__rating">
        <div class="footer__info__wrap-stars">
          <input class="footer__info__rating__radio footer__info__rating__radio--1" aria-label="Поставить 1 звезду"
                 type="radio"
                 name="star" id="star1">

          <input class="footer__info__rating__radio footer__info__rating__radio--2" aria-label="Поставить 2 звезды"
                 type="radio"
                 name="star" id="star2">

          <input class="footer__info__rating__radio footer__info__rating__radio--3" aria-label="Поставить 3 звезды"
                 type="radio"
                 name="star" id="star3">

          <input class="footer__info__rating__radio footer__info__rating__radio--4" aria-label="Поставить 4 звезды"
                 type="radio"
                 name="star" id="star4">

          <input class="footer__info__rating__radio footer__info__rating__radio--5" aria-label="Поставить 5 звезд"
                 type="radio"
                 name="star" id="star5">
        </div>

        <p class="footer__info__rating__text">Company Rating</p>
      </div>

      <div class="footer__info__copyright">
        <p class="footer__info__copyright__text">Copyright © 2018 Dlk • Design Life Kids</p>
      </div>

      <div class="footer__info__developer">
        <a href="#" class="footer__info__developer__link">Web Design — Direct Line Development</a>
      </div>
    </div>
  </div>
</footer>
